@use 'base/mixins' as m;
@use 'base/variables' as v;

.barra{
    display: none;

    @include m.tablet { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_navegacion{
        @include m.tablet { 
            display: flex;
            gap: 4rem; 
        }
    }

    &_link{
       color: v.$blanco; 
    }

    &_nombre{
        color: v.$blanco;
        margin: 0;
    }
}